@charset "UTF-8";

/*
    Paleta de cores
    Verde: #49a09d
    Lilás: #5f2c82
*/

/* config Mobile first */

* {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body, html {
    height: 100vh;
    width: 100vw;
    background-color: #5f2c82;

}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.container-login {
    position: absolute;
    top: 50%;
    left: 50%;

    background-color: white;
    height: 515px;
    width: 250px;
    border-radius: 20px;

    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.459);

    transform: translate(-50%, -50%);
    transition: width 0.3s, height 0.3s; /* efeito de transição na altura e largura no momento que muda o tamanho da tela */
    transition-timing-function: ease;  /* suavidade durante transição, não acelera e desacelera na mesma velocidade */
}

.container-login > .imagem {
    display: block;
    height: 200px;
    background-color: #5f2c82;
    background-image: url('../imagens/metal.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left bottom;
}

.container-login > .formulario {
    display: block;
    padding: 10px;
}

.formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.5em;
}

.formulario > p {
    font-size: 0.8em;
}
/* CAMPOS */

form {
    margin-top: 10px;
}

.campo {
    background-color: #5f2c82;
    border: 3px solid #5f2c82;
    color: white;
    height: 2.5rem;
    border-radius: 8px;
    margin: 5px 0px;
    padding: 5px 0px 5px 5px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.campo > label {
    display: none;
}

.campo > input {
    background-color: #94cfcd;
    border: 0px;
    border-radius: 7px;
    padding: 10px;
    width: 100%;
    height: calc(100% + 10px);
    /*
    ou
    padding: 11.8px;
    width: 100%;
    sem o height
    */ 
}

.campo > input:focus {
    background-color: white;
}

.ilogin , .isenha {
    font-size: 1em;
}
.material-icons {
    padding-right: 8px;
    font-size: 2em;
}

/* BOTÕES */
input[type=submit] {
    display: block;

    font-size: 1em;
    width: 100%;
    height: 2.5rem;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 5px 0px;
}

input[type=submit]:hover {
    background-color: #2c615f;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    height: 2.5rem;
    background-color: white;
    color: #2c615f;
    font-size: 1em;
    text-decoration: none;
    border-radius: 8px;
    border: 1px solid #49a09d;
}

.btn:hover {
    background-color: #94cfcd;
}

.btn > span {
    padding: 5px;
    font-size: 1em;
}
