@charset "UTF-8";

/*
    Paleta de cores
    Verde: #49a09d
    Lilás: #5f2c82
*/

/* config Mobile first */

* {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body, html {
    height: 100vh;
    width: 100vw;
    background-color: #5f2c82;

}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.container-login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    height: 500px;
    width: 250px;
    border-radius: 20px;

    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.459);

    transition: width 0.3s, height 0.3s; /* efeito de transição na altura e largura no momento que muda o tamanho da tela */
    transition-timing-function: ease;  /* suavidade durante transição, não acelera e desacelera na mesma velocidade */
}

.container-login > .imagem {
    display: block;
    background-color: #5f2c82;
    background-image: url('../imagens/metal.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left bottom;
    height: 200px;
}

.container-login > .formulario {
    display: block;
    padding: 10px;
}

.formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

.formulario > p {
    font-size: 0.8em;
}

/* BOTÃO */
.btn {
    display: block;
}